*.iml
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history/
.packages
.pub/
.svn/
.vscode/
.idea/
build/
coverage/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral
ios/Pods
android/.project
android/.settings
android/app/google-services.json
android/local.properties
android/key.properties
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
lib/firebase_options.dart
pubspec.lock
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
